{% extends "base.html" %}
{% from "_macros.html" import render_field %}

{% block title %}{{ heading }}{% endblock %}

{% block content %}
  <h1 class="h3 mb-4">{{ heading }}</h1>

  <form method="post" class="story-form" novalidate>
    {{ form.hidden_tag() }}
    {{ render_field(form.title) }}
    <div class="row">
      <div class="col-md">{{ render_field(form.topic) }}</div>
      <div class="col-md">{{ render_field(form.author) }}</div>
    </div>
    {{ render_field(form.text) }}
    <div class="d-flex gap-2">
      {{ form.submit(class="btn btn-primary") }}
      <a class="btn btn-link"
         href="{{ url_for('main.story', story_id=story.id) if story else url_for('main.index') }}">Cancel</a>
    </div>
  </form>
{% endblock %}
